body {
    color: #000000;
    font: 12px
    font-family: 'Myriad Pro',sans-serif;
    background-color: rgb(255, 255, 255);
    border-top: 5px;
    margin: 0;
    height: 1480px;
    width: 1282px;
}
a {
    font-family: 'Myriad Pro', sans-serif;
    color:  #000000;
    text-decoration: none
}
p {
    margin: 20px 0;
    font-family: 'Myriad Pro';
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
#wrapper {
    max-width: 960px;
    margin: auto;
}
header {
    padding: 20px 0;
    font-size: 80px;
    font-weight: 400;
    text-align: left;
}

}
nav a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    font: 24px Myriad Pro, sans-serif;
    padding: 5px;
}

.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: -4px;
    background: rgb(53, 68, 79);
}

.top-menu li.active {
    background: rgb(34, 47, 58);
    color: #fff;
}

.top-menu a {
    color: white;

}


h1 {
    display: inline-block;
    color: #7e7e7e;
    font: 40px/40px 'Oswald', sans-serif;
    margin: 0;
    padding: 0 10px;
}
aside menu{
    width: 200px;
    height: 399px;
}

nav {

}

.aside-menu {
    list-style-type: none;
    padding-left: 40px;
    margin-left: 0px;
    width: 344x;
    height: 399px;
    display: block;
    margin-top: 30px;

}
.aside-menu li {

    list-style-type: none;
    padding-left: 60px;
    margin-left: 80px;
    width: 200px;
    border: 1px solid black;
}


.aside-menu li.active {
    font-family: 'Myriad Pro';
    color:  #000000;
    font-size: 26.99px;
    font-weight: 400;
    line-height: 88.867px;
    text-align: left;
    transform: scaleY(1.0003);
    background-color: rgb(220, 220, 220);
}

.aside-menu a {
    font-family: 'Myriad Pro';
    color:  #485863;
    font-size: 26.99px;
    font-weight: 400;
    line-height: 88.867px;
    text-align: left;
    transform: scaleY(1.0003);
}

.container {
    width: 885px;
    height: 529px;
    display: block;
    border: black;
    margin: 0;
    position:;
}

p.img {
    text-align: center;
}
.img {
    display: block;
    border: 1px solid #fff;
    width: 320px;
    height: 381px;
}


footer {
    background: rgb(181, 184, 187);
    font-size: 28px;
}

#footer {
    max-width: 960px;
    margin: auto;
    padding: 10px 0;
    width: 1280px;
    height: 69px;
    color: rgb(181, 184, 187);
    display: inline-block;
}
footer a {
    color: rgb(181, 184, 187);
}

#menu {
    width: 150px;
    float: left;
    margin-left: 20px;
    padding-right: 15px;
}

#menu div {
    display: inline-block;
}

#menu div + div {
    margin-left: 40px;
}

#menu a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
}

#menu a:hover {
    text-decoration: underline;
}
#footer-logo {
    float: right;
    margin-top: 20px;
    text-align: left;
    font-family: 'Myriad Pro';
    color:  #010000;
    font-size: 24px;
    font-weight: 400;
    line-height: 90px;
}